.App {
  display: flex;
  justify-content: space-around;
  margin-top: 0%;
  background-color: rgb(210, 224, 224);
  padding: 50px 20px 220px;

}

.App>div {
  width: 48%;
}

h6,
h1 {
  color: blue;
  font-family:'Times New Roman', Times, serif
}

.btn {
  color: white;
  background-color: blue;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 8px 25px;
  width: 15%;

}

#btn1 {
  color: white;
  background-color: blue;
  font-size: 1.0rem;
  border-radius: 6px;
  padding: 8px 10px;
  top: 10px;
  right: 20px;
  position: absolute;
}

.name-num {
  display: flex;
  justify-content: space-between;
  color: blue
}

.name-num>div {
  width: 48%;
}

.form-floating {
  color: blue;
}

.enquiry-center {
  text-align: center;
}

.fb {
  text-align: center;
}

.cource-mode {
  display: flex;
  justify-content: space-around;

}

.cources {
  text-align: start;
}

.date-select {
  display: flex;
  justify-content: space-between;
}

.date-select>div {
  width: 48%;
}

#c1 {
  color: blue;
}

#c2 {
  color: blue;
}

