body{
  background-color: rgb(161, 167, 167);
}
.App{
  display: flex; 
  justify-content: space-around;
  margin-top: 5%;
  background-color: rgb(241, 250, 250);
  padding: 50px 20px 70px;
}
h6,h1{
  color: blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.btn {
  color: white;
  background-color: blue;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); 
  font-size: 1.2rem; 
  border-radius: 8px; 
  padding: 8px 25px;
  
}
button{
  color:white;
  background-color: blue; 
  font-size: 1.2rem; 
  border-radius: 8px; 
  padding: 8px 25px;

  
}






