
  .mainbody{
    text-align: center;
    margin:20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 400p;
    /* width: 200px; */
    /* text-align: center; */
    align-items: center;
  }
  .eachDiv{
    color: blue;
  }
  .listDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #divmain {
    background-color: aqua;
  }

  #root {
    background-color: aqua;

  }
#hihi {
}