.mybox{
  padding:10px;
  margin:10px;
  border:2px solid;
  border-radius:10px;
  background-color:rgb(179, 149, 180);
}
.cartList{
list-style: none;
}
.cartItem{
  display:flex;
  align-items: center;
  flex-grow:1;
  flex-wrap:wrap;
  color:black
}
.cartItem img{
  width:100px;
  padding: 20px;
}
.itemTitle{
  width:40%;
}
.cartItem button{
  border-radius:40%;
  margin:10px;
  background-color: pink;
}
.cartItem .itemPrice{
  width:10%;
  text-align:left;
}
.itemTotal{
  width:10%;
  text-align:right;
  padding: 50px;
}
.cartTotal{
  text-align:right;
  width:69%
}
.del button{
  border-radius:0px;
  background-color:red;

}
